<header>
    <h1>Inventory</h1>
    <div class="header-links">
        <a href="/dashboard">Dashboard</a>
        <div class="divider"></div>
        <a href="/dashboard/items/in-stock">In stock</a>
        <div class="divider"></div>
        <a href="/dashboard/items/low-stock">Running low</a>
        <div class="divider"></div>
        <a href="/dashboard/items/out-of-stock">Out of stock</a>
    </div>
</header>